<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fontello.css">
    <title>高雄__改vue</title>
</head>
<body>
    <div id="vm" @click.stop="hideList">
        <section class="choiceArea">
            <h2>高雄旅遊資訊</h2>
            <ul class="allArea" @click.stop.prevent="showList">
                <li><a href="#">-- 請選擇行政區 --</a>
                    <ul class="options">
                        <li v-for="area in allarea">
                            <a href="#" @click.stop.prevent="clickArea($event)">{{area}}</a>
                        </li>
                    </ul>   
                </li>
            </ul>
    
            <div class="hotArea"> 
                <h5>熱門行政區</h5>
                <ul class="clearfix">
                    <li class="pull-left" v-for="point in hotArea">
                        <a href="#" @click.stop.prevent="clickArea($event)">{{point}}</a>
                    </li>
                </ul>
            </div>
        </section> 

        <div class="hr">
            <div class="line"></div>
            <div class="dwon"><i class="icon-down-dir"></i></div>
            <div class="line"></div>
        </div>
    
        <section class="areaContent">
            <div class="container">
                <h4>全高雄市景點</h4>
                <div class="row">
                    <template  v-for="item in kaohsiungData">
                        <div class="col-sm-6" v-if="item.Zone == currentArea || allItem">
                            <div class="areaImg" :style="{ backgroundImage: 'url(' + item.Picture1 + ')' }">
                                <p class="attraction">{{item.Name}}</p>
                                <p class="area">{{item.Zone}}</p>
                            </div>
                            <div class="areaInfo">
                                <p class="openTime"><img src="images/icons_clock.png" alt="img">{{item.Opentime}}</p>
                                <p class="address"><img src="images/icons_pin.png" alt="img">{{item.Add}}</p>
                                <p class="tel"><img src="images/icons_phone.png" alt="img">{{item.Tel}}</p>
                                <p class="ticket"><img src="images/icons_tag.png" alt="img">{{item.Ticketinfo}}</p>
                            </div>
                        </div>
                    </template>
                </div>
            </div>      
        </section>
    
        <div id="footer">
            <p>高雄市旅遊網</p>
            <p>資料來源：高雄市政府</p>
        </div>
    </div>
    <div class="go-top">
        <a href="#"><img src="images/btn_goTop.png" alt=""></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/all.js"></script>
</body>
</html>
